.Header,
.Header-item {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.Header {
  z-index: 32;
  padding: 16px;
  font-size: 14px;
  line-height: 1.5;
  color: var(--color-header-text);
  background-color: var(--color-header-bg);
}

.navbar-background {
  background-color: #24292e;
  color: hsla(0, 0%, 100%, 0.7);
}

.input-search {
  width: 200px;
}
